

.outer-Valuesection-container {
  width: 100%;
  /* margin: 0 auto; */
  padding: 60px 0;
  background-color: #ffffff;
  text-align: center;
}

.outer-Valuesection-container h2 {
  font-family: 'Noto Serif', serif;
  font-style: italic;
  font-weight: 400;
  font-size: 34px;
  color: #6E3F77;
  margin-bottom: 10px;
}

.outer-Valuesection-container h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: #FC9B3B;
  margin-bottom: 40px;
}

.values-box-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

.value-box-common {
  width: 380px;
  background: #fff;
  border-radius: 10px;
  padding: 40px 20px;
  box-shadow: 0px 0px 4px rgba(110, 63, 119, 0.7);
  transition: background 0.3s ease;
  position: relative;
}

.value-box-common:hover {
  background: linear-gradient(85.6deg, #813D82 0%, #B537A2 99.16%);
  color: #fff;
}

.value-box-common:hover h3,
.value-box-common:hover p {
  color: #fff;
}

.icon-circle {
  width: 124px !important;
  height: 124px !important;
  background: #F7F2F8;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 20px;
}

.value-box-common h3 {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 28px;
  color: #6E3F77;
  margin-bottom: 16px;
}

.value-box-common p {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #282828;
  line-height: 28px;
}

