.outer-Aboutussection-container {
    position:absolute;
    width: 90%;
    height: 638px;
    padding-left: 5%;
    padding-right: 5%;
  
    background-color: #ffffff; /* Light background for visibility */
    margin: 0 auto; /* Centers the section */
    display: flex;
    justify-content: center;
    align-items: center;
    top: 507px;
    left: 0px;
  }

  
/* About Image Container (formerly rectangle-box) */
.about-image-container {
    position: absolute;
    width: 615px;
    height: 450px;
    left: 143px;
    top: 92px;
    background: #E6D6E9;
    border-radius: 10px;
  }

  /* Member Image */
.member-image {
    position: absolute;
    width: 596px;
    height: 344px;
    left: 9px;
    top: 106px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
  }
  
  /* About Us Heading */
.about-heading {
    position: absolute;
    width: 185px;
    height: 34.24px;
    left: 780px;
    top: 97px;
    font-family: 'Noto Serif', serif;
    font-style: italic;
    font-weight: 400;
    font-size: 34px;
    line-height: 42px;
    color: #6E3F77;
  }

  
/* Dedicated to Your Wellbeing */
.about-subheading {
    position: absolute;
    width: 548px;
    height: 48px;
    left: 795px;
    top: 131.24px;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #FC9B3B;
  }
  
  /* About Description */
  .about-description {
    position: absolute;
    width: 613px;
    height: 168px;
    left: 810px;
    top: 204px;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px; /* 150% */
    color: #282828;
    text-align: left;
  }

  
/* Life at Meghmani Life Sciences LTD */
.life-heading {
    position: absolute;
    width: 316px;
    height: 64px;
    left: 1000px;
    top: 435px;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #6E3F77;
    text-align: left;
  }

  
/* Lottie Animation */
.lottie-animation {
    position: absolute;
    background-color: #6E3F77;
    width: 150px;
    height: 150px;
    left: 810px;
    top: 392px;
  }