   .hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 60px ; */
    height: 532px;
    padding-left: 10%;
    background-color: #FEF8FF;
    position: relative;
    flex-wrap: wrap;
  }

  .hero-content {
    flex: 1;
    max-width: 500px;
    padding-right: 40px;
  }

  .hero-heading {
    font-size: 34px;
    color: #3b1b4a;
    font-weight: 500;
    font-family: 'Noto Serif', serif;
    font-style: italic;
    line-height: 42px;
    margin: 0%;

  }

  .hero-subheading {
    font-weight: 500;
    color: #f7941d;
    font-size: 40px;
    font-family: raleway;
    font-weight: bold;
    margin: 0%;
    line-height: 48px;



  }

  .hero-title {
    font-size: 48px;
    font-weight: bold;
    color: #f7941d;
    margin: 0%;
    line-height: 56px;
  }

  .hero-description-block {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    margin: 20px 0;
  }

  .vertical-line {
    width: 3px;
    height: 68px;
    background-color: #3b1b4a;
  }

  .hero-description {
    width: 397px;
    font-size: 24px;
    color: #333;
    line-height: 1.5;
    margin: 0%;

  }

  .hero-button {
    background-color: #f7941d;
    color: white;
    border: none;
    padding: 12px 24px;
    width: 200px;
    border-radius: 6px;
    height: 52px;
    font-size: 20px;
    cursor: pointer;
    margin-top: 10px;
  }

  .hero-button:hover {
    background-color: #e7821b;
  }

  .hero-image-wrapper {
    position: relative;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .dna-frame {
    width: 620px;
    position: absolute;
    left:165px;
    top:-280px;
    z-index: 1;
  }

  .product-image {
    width: 500px !important;
height: 500px  !important;
    z-index: 2 !important;
    left: 220px !important;
    top:-210px !important;
    position: absolute !important;
  }

  .ellipse-image{
    width: 700px;
    top: -268px;
    left: 115px;
    opacity: 40%;
    position: absolute;
  }

  .slider-indicators {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
  }

  .dot {
    width: 25px;
    height: 4px;
    background-color: #ccc;
    border-radius: 2px;
    transition: all 0.3s ease;
  }

  .dot.active {
    background-color: #5c2672;
    width: 30px;
  }
  