.cards-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; /* Centering cards */
    gap: 2rem; /* Space between cards for better layout */
    background-color: #BE36A7;
    padding: 2rem;
}
.career-main{
    background-color: white;
}